/* all styles are optional and for demo only */
ul.demo {
	margin: 0;
	padding: 0;
}
ul.demo time {
	display: none;
}
ul.demo li {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: solid 1px #ccc;
	font-size: 1em;
}
h3, p {
	margin: 10px 0;
}
.filters {
	padding: 20px;
	background: #ccc;
}
.filters select, button {
	margin-right: 20px;
	font-size: 1em;
}
